* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav {
    margin-left: auto; 
}

.nav-links {
    justify-content: flex-end; 
}

.nav-links li {
    margin-left: 20px; /* Adds spacing between items */
}


nav a {
    text-decoration: none; 
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Sets font family */
    font-size: 16px; 
    margin-left: 20px; 
}

nav a:hover {
    color: #db2020; 
    transition: color 0.3s ease-in-out; 
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: darkgrey;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    background: url(background.png) no-repeat center center/cover;
    color: #fff; 
    text-align: center; 
    padding: 100px 0;
    
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero button {
    background: #FF6565;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 100px;
}

.hero button:hover {
    opacity: 0.9;
}

#what-we-do {
    background-color: white; 
    text-align: center; 
    padding: 95px 20px; 
}

#what-we-do h2 {
    font-size: 2rem; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 60px; 
}

.services {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 20px; 
    flex-wrap: nowrap; 
}