body, main{
    display: flex;
    border: solid;
    border-width: 1px;
}

body{
    flex-direction: column;
}

main{
    background: linear-gradient(132deg, rgb(0, 103, 154) 0.00%, rgb(0, 173, 239) 100.00%);;
    flex-direction: row;
    flex: auto;

}

article{
    flex: 2;
    overflow-y: auto;       
}

aside{
    background: linear-gradient(132deg, rgb(241, 242, 11) 0.00%, rgb(248, 161, 27) 100.00%);
    flex: 1;
    overflow-y: auto;
}


